@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px; font-style:normal;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-youxi:before { content: "\e643"; }
.icon-15:before { content: "\e60f"; }
.icon-shipin:before { content: "\e642"; }
.icon-84:before { content: "\e670"; }
.icon-tupian:before { content: "\e63e"; }
.icon-shouye:before { content: "\e603"; }
.icon-weishipinzuoshangjiaotubiao:before { content: "\e606"; }
.icon-yinlesongchi:before { content: "\e641"; }
.icon-youxitianchong:before { content: "\e6b5"; }
.icon-xinwensolid:before { content: "\e6df"; }
.icon-tupian1:before { content: "\e63b"; }
